@import '../common/styles/sass/variables.scss';
@import '../common/styles/sass/mixins.scss';
.contactsBlock {
  min-height: 50vh;
  background-color: $bgSecondColor;
  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    .inputBlock {
      gap: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 540px;
      width: 100%;
      height: 200px;
      .inputName {
        @include text($textFontFamily, 12px, 1.5);
        background: $bgSecondColor;
        color: #495057;
        font-weight: 400;
        border: 1px solid #4a4a4a;
        padding: 5px 15px 5px;
        border-radius: 0;
        outline: none;
      }
      .inputMail {
        @include text($textFontFamily, 12px, 1.5);
        background: $bgSecondColor;
        color: #495057;
        font-weight: 400;
        border: 1px solid #4a4a4a;
        padding: 5px 15px 5px;
        border-radius: 0;
        outline: none;
      }

      .textarea {
        @include text($textFontFamily, 12px, 1.5);
        background: $bgSecondColor;
        color: #495057;
        font-weight: 400;
        height: 100%;
        width: 100%;
        border: 1px solid #4a4a4a;
        padding: 10px 15px 5px;
        border-radius: 0;
        outline: none;
      }
    }
  }
  .buttonWrapper {
    margin-top: 20px;
    .button {
      @include text($textFontFamily, 14px, 1.2);
      background-color: $primaryColor;
      color: $textColor;
      padding: 12px 24px;
      border: none;
      cursor: pointer;
      max-width: 170px;
      margin: 15px auto;
      text-align: center;
      border-radius: 0px;
      width: 100%;
    }
  }
}
