@import '../common/styles/sass/variables.scss';
@import '../common/styles/sass/mixins.scss';
.contactsBlock {
  min-height: 50vh;
  background-color: $bgSecondColor;
  padding-bottom: 20px;
  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    .inputBlock {
      gap: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 540px;
      width: 100%;
      height: 250px;
      .inputName {
        @include text($textFontFamily, 12px, 1.5);
        background: $bgSecondColor;
        color: #495057;
        font-weight: 400;
        border: 1px solid #4a4a4a;
        padding: 5px 15px 5px;
        border-radius: 0;
        outline: none;
      }
      .inputMail {
        @include text($textFontFamily, 12px, 1.5);
        background: $bgSecondColor;
        color: #495057;
        font-weight: 400;
        border: 1px solid #4a4a4a;
        padding: 5px 15px 5px;
        border-radius: 0;
        outline: none;
      }

      .textarea {
        @include text($textFontFamily, 12px, 1.5);
        background: $bgSecondColor;
        color: #495057;
        font-weight: 400;
        height: 100%;
        width: 100%;
        border: 1px solid #4a4a4a;
        padding: 10px 15px 5px;
        border-radius: 0;
        outline: none;
      }
    }
    .buttonWrapper {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      .button {
        background-color: $bgSecondColor;
        border: none;
        @include flex(row, center, center, nowrap);
        @include text($textFontFamily, 14px, 1.2);
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 8px 20px;
        max-width: 160px;
        width: 100%;
        color: $secondTextColor;
        cursor: pointer;
        position: relative;
        z-index: 0;
        &::after {
          content: '';
          position: absolute;
          width: 50%;
          height: 10px;
          background-color: $primaryColor;
          bottom: 0;
          z-index: -1;
          transition: all 0.2s ease-in-out;
        }
        &:hover {
          text-decoration: none;
          color: $textColor;
          &::after {
            width: 100%;
            height: 110%;
            transition: all 0.3s ease-in-out 0s;
          }
        }
      }
    }
  }
}
