.contactsBlock {
  height: 100vh;
  background-color: rgb(186, 177, 199);
}
.skillsContainer {
  flex-direction: column;
  justify-content: flex-start;
}
.inputBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(196, 193, 193);
  border: 1px solid;
  width: 280px;
  height: 100px;
}
.button {
  background-color: #555;
  color: rgb(0, 0, 0);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.title {
  background-color: rgb(139, 100, 100);
}
.buttonWrapper {
  margin-top: 20px;
}
