@import '../../common/styles/sass/mixins.scss';
@import '../../common/styles/sass/variables.scss';

.nav {
  // position: fixed;
  z-index: 2;
  width: 300px;
  padding-right: 50px;
  @include flex(row, space-between, stretch, nowrap);
  .link {
    @include text($titleFontFamily, 16px, 12);
    font-weight: 400;
    color: $textColor;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      color: $primaryColor;
    }
  }
  .active {
    color: $primaryColor;
  }
  @media screen and (max-width: 600px) {
    display: none;
  }
}
