@import '../../common/styles/sass/mixins.scss';
@import '../../common/styles/sass/variables.scss';

.nav {
  width: 300px;
  @include flex(row, space-between, stretch, nowrap);
  a {
    @include text($titleFontFamily, 16px, 12);
    font-weight: 400;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      color: $primaryColor;
    }
  }
  .active {
    color: $primaryColor;
  }
  @media screen and (max-width: 400px) {
    display: none;
  }
}
