$textColor: rgba(219, 90, 66);
$primaryColor: rgba(26, 83, 92);
$bgColor: #fef9f3;
$bgSecondColor: #f1eee9;
$bgMenuColor: rgba(37, 37, 39, 0.8);
$titleFontFamily: 'Josefin Sans', sans-serif;
$textFontFamily: 'Poppins', sans-serif;
