.projectsBlock {
  min-height: 100vh;
  background-color: #343a40;
}
.projectsContainer {
  flex-direction: column;
  justify-content: flex-start;
}
.projects {
  border: 1px solid;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.title {
  background-color: rgb(139, 100, 100);
}
.title h2 {
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 30px;
  font-weight: 300;
  color: #fff;
  text-transform: capitalize;
}

@media screen and (max-width: 1129px) {
  .projects {
    justify-content: center;
  }
}
